
<div class="jumbotron">
  <h1>Post a product to your store here.</h1>
</div>

<div class="row productposts" ng-controller='MainCtrl'>
  <h4>Post images and videos here:</h4>
</br>

<h4>{{ product.productTitle }}</h4>
<input class="prodtitle-input-ctn" ng-model="yourProductTitle" placeholder="enter product title">
</input>

</br>

<h4>Add product description: </h4>
<input class="proddesc-input-ctn">
</input>

</br>

<h4>Add product price: {{data.price}}</h4>
<input class="prodprice-input-ctn">
</input>

</br>

<h4>Add product sale price: </h4>
<input class="prodsaleprice-input-ctn">
</input>

</br>

<h4>Add product inventory size and amount:</h4>
<input class="inventory-input-ctn"></input>
<input class="inventoryAmount-input-ctn"></input>

</br>

<h4>Add product shipping type:</h4>
<p>Add a dropdown menu for shipping type.</p>

</br>

<h4>Add product return policy:</h4>
<input class="returnpolicy-input-ctn"></input>


</br>



<h4>Add product tags:</h4>

</br>


<h4>Select product associated activity and product type: </h4>
<p>This will be a drop down that allows brands to select an activity and then from a sub menu, select a product type.</p>
</br>

<h4>Add product gender:</h4>
<p>Drop down menu that allows brand to select gender for product.</p>

</br>


<a class="btn btn-lg btn-success" ng-href="#/">Save as Draft<span class="glyphicon glyphicon-ok"></span></a>
<a class="btn btn-lg btn-success" ng-href="#/">Publish<span class="glyphicon glyphicon-ok"></span></a>
</div>

